---
Language: Cpp
BasedOnStyle: Google
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
IncludeBlocks: Merge
ColumnLimit: 80
IndentWidth: 2 
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
...
